.header{
    height: 50vh;
    width: 100vw;
    text-align: center;
}
.title{
    text-align: center;
    border-style: dashed;
    border-width: 2px;
    border-radius: 10px;
}
.tagline{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 50px;
    color: black;
}
